@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    body {
        color:#171717;
    }
    .main-bg-default {
        height: 100svh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .main-bg-home{
        background-image:
                linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
                url('../assets/bg.jpg');

    }
    .main-bg {
        background-image: url('../assets/bg.jpg');
    }

    .muted-mustard-color {
        background-color: rgba(255, 136, 0, 0.4);
    }

    .my-img {
        height: 100%;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        background-image:
                linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
                url('../assets/MY_IMG.JPG');
    }

    @keyframes fadeUp {
        from {
            opacity: 0;
            transform: translateY(30px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
    .fade-up {
        animation: fadeUp 2s ease-out;
    }

    .typing-animation {
        overflow: hidden;
        white-space: nowrap;
        animation: typing 1.5s steps(30, end);
    }

    .blink-cursor {
        border-right: .15em solid orange;
        animation: blink-caret .75s step-end infinite;
    }

    .hidden {
        display: none;
    }

    @keyframes typing {
        from { width: 0; }
        to { width: 100%; }
    }

    @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: orange; }
    }

}
