@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .main-bg-default {
        height: 100svh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .main-bg-home{
        background-image:
                linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
                url('../assets/bg.jpg');

    }
    .main-bg {
        background-image: url('../assets/bg.jpg');
    }

    .muted-mustard-color {
        background-color: rgba(255, 136, 0, 0.4);
    }

}
